.bgcol{
	background-color:  #14fcb3;
	margin-bottom: 20px;
}
#header-nav {
    background-color: #25726f;
    border: 0 none;
    border-radius: 0;
}
#nav-list a:hover {
    background: #e7e7e7 none repeat scroll 0 0;
}
.navbar-default .navbar-nav > li > a {
        color: #fff;
    font-size: 18px
}
.navbar-default .navbar-brand {
    color:#FFFF00;
    font-size:200%;
}
h1{
	color:  #fc6214 ;
}